p{
            font-family:Roboto;
        }

        .video-title{
            /* font-family: Arial;
            font-size:30px;
            font-weight:bold;
            font-style:italic;
            text-align: center; */
            font-weight:bolder;
            font-size:20px;
            text-align: left;
            width:350px;
            line-height: 24px;
            margin-top:5px;
            margin-bottom:1px;
            
        }

        .video-stats{
            font-size:14px;
            color:rgb(108, 107, 107);
            margin-top:4px;
        }

        .video-author{
            color: rgb(108, 107, 107);
            font-size:15px;
            margin-top:20px;
            
        }

        .video-description{
            color:rgb(100,107,107);
            font-size:15px;
            width:300px; 
            margin-top:20px;
            line-height:20px;
            margin-bottom:100px;
        }

        .apple-text{
            font-size: 15px;
            background-color: red;
            padding-top:20px;
            padding-bottom:20px;
            text-align:center;
            color: white;
        }

        a{
            color:white;
            text-decoration: none;
            font-weight:bold;
        }

        a:hover{
            cursor:pointer;
            text-decoration: underline;
        }