body{
    font-family:Arial;
}

.input-box{
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    padding-right:15px;
    text-align: left;
}

.calculate-button{
    color:white;
    background-color: green;
    border:none;
    padding-top:9.5px;
    padding-bottom: 9.5px;
    padding-left:20px;
    padding-right:20px;
}