#subscribe-button{
    background-color: rgb(203, 48, 48);
    color:aliceblue;
    border:none;
    padding-right:15px;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:2px;
    cursor: pointer;
    margin-right:8px;
    transition: opacity 0.5s;
    vertical-align: top;
    
}    

#subscribe-button:hover{
    opacity: 0.8;
}

#subscribe-button:active{
    opacity:0.44;
}

#join-button{
    background-color: white;
    border-color: rgb(17,153,216);
    border-style:solid;
    border-radius:1px;
    border-width:1.8px;
    color:rgb(17, 153, 216);
    padding-top:9px;
    padding-bottom:9px;
    padding-left:14px;
    padding-right:14px;
    cursor: pointer;
    margin-right:8px;
    transition: background-color 1s, color 1s;
    vertical-align: top;
}    

#join-button:hover{
    background-color: rgb(17,153,216);
    color:aliceblue;
}    

#join-button:active{
    opacity: 0.77;
}    


#tweet-button{
    background-color: rgb(24, 173, 253);
    color:aliceblue;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:15px;
    padding-left:15px;
    border:none;
    border-radius:18px;
    cursor: pointer;
    font-weight:bold;
    font-size:14px;
    transition:box-shadow .5s ;
    vertical-align: top;
}    

#tweet-button:hover{
    box-shadow:5px 5px 10px rgba(24, 173, 253,.5);
}