#subscribe-button{
    background-color: rgb(203, 48, 48);
    color:aliceblue;
    border:none;
    height:35px;
    width:110px;
    border-radius:2px;
    cursor: pointer;
    margin-right:8px;
    transition: opacity 0.5s;
}    

#subscribe-button:hover{
    opacity: 0.8;
}

#subscribe-button:active{
    opacity:0.44;
}

#join-button{
    background-color: white;
    border-color: rgb(17,153,216);
    border-style:solid;
    border-radius:2px;
    border-width:1.8px;
    color:rgb(17, 153, 216);
    height:35px;
    width:62px;
    cursor: pointer;
    margin-right:8px;
    transition: background-color 0.5s;
    
}    

#join-button:hover{
    background-color: rgb(17,153,216);
    color:aliceblue;
}    

#join-button:active{
    opacity: 0.77;
}    


#tweet-button{
    background-color: rgb(24, 173, 253);
    color:aliceblue;
    height:35px;
    width:74px;
    border:none;
    border-radius:18px;
    cursor: pointer;
    font-weight:bold;
    font-size:14px;
}    

